<section id="tp05">
<h1>TP 05 - Communication avec $http</h1>




<!-- Done -->
<div ng-controller="TripListCtrl as ctrl">

<div ng-repeat="item in ctrl.data">
    <h3>{{item.name}}</h3>
    <input id="City" name="City" ng-model="name" type="text" placeholder={{item.name}} >
    <input id="Price" name="Price" ng-model="price" type="text" placeholder={{item.price}}><br></br>
    <button ng-show="name.ng-pristine" ng-click="ctrl.modify(item.id, name, price)">Modify</button>
    <button ng-show="" ng-click="ctrl.substitute(item.id, name, price)">Substitute</button>
    <button ng-show="" ng-click="ctrl.delete(item.id)">Delete</button><br></br>
    <img height="300" width="400" ng-src = "{{item.imageUrl}}">
    <p>-------------------------------------------------------------------------</p>
  
</div>

<h3>Add a new city</h3>

    <input id="City" name="City" ng-model="newname" type="text" placeholder="city" >
    <input id="Price" name="Price" ng-model="newprice" type="text" placeholder="price">
    <input id="Price" name="Price" ng-model="newurl" type="text" placeholder="url">
    
    <button ng-click="ctrl.add(newname, newprice, newurl)">Add</button><br></br>

</div>
</section>